<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
     <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="YBRDS_PROD_ConnectionString" connectionString="Data Source=DIMMASYP.CSID.LOCAL;User ID=YBRDS_PROD;Password=YBRDS_PROD;" providerName="System.Data.OracleClient"/>
    <add name="GESTION_ConnectionString" connectionString="Data Source=win-sl2bh9u8760.csid.local; Database=Evaluaciones; User ID=dbogestion;Password=Dbo#2012*$" providerName="System.Data.SqlClient" />
    <add name ="XLS" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Extended Properties={0};Data Source={1}" providerName=""/>
    <add name ="XLSX" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Extended Properties={0};Data Source={1}" providerName=""/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>
